*, ul, li, button, input, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 17px; 
}
@media (min-height: 500px) {
  *, ul, li, button, input, body {
      font-size: 20px; 
  }
}
@media (min-height: 600px) {
  *, ul, li, button, input, body {
      font-size: 25px; 
  }
}
@media (min-height: 800px) {
  *, ul, li, button, input, body {
      font-size: 30px; 
  }
}
@media (min-height: 1000px) {
  *, ul, li, button, input, body {
      font-size: 35px; 
  }
}
html, body, .navContainer {
  width: 100%;
  height: 100%;
  position: relative;
  background: #aaa;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.navPage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background: #fff;

}
.navButton {
  flex: 0 0 auto;
  position: relative;
  height: 15%;
  color: #fff;
  background-color: #d6975c;
  text-shadow: 0 0 1px #7a4a1e; /* darkened background color 50% */
}
.navButton .icon {
  position: absolute;
  top: 20%;
  height: 60%;
  width: 2em;
}
.navButton.left .icon {
  right: 1em;
}

.navButton.right .icon {
  left: 1em;
}

.navButton .icon line, 
.navButton .icon circle, 
.navButton .icon path {
  stroke: #fff;
  fill: transparent;
} 
.navButton .icon svg {
  filter: drop-shadow( 0 0 1px #7a4a1e);
}

.icon.hflip svg {
    transform: scale(-1, 1);
}

.navButton .mainText {
  font-size: 1.2em;
  text-transform: uppercase;
}

.navButton .extraText {
  font-size: 0.6em;
}


.enter,
.exit {
  transition: transform 450ms;
}
.enter.left,
.exit.right,
.exit.right.run {
  transform: translateX(103%);
}
.enter.right,
.exit.left,
.exit.left.run  {
  transform: translateX(-103%);
}
.enter.run {
  transform: translateX(0%);
}
.message {
  flex: 1 0 auto;
  margin: 0.5em;
  background: #eee;
  border: 1px #bebebe solid; /*darkened bg 20%*/
  padding: 0.5em;
  color: #555;
  text-shadow: 0px 1px 1px #fff;

}

.voter {
  list-style-type: none;
  text-indent: none;
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  margin-top: 0;
}
.voter li {
  flex: 1 1 auto;
  padding: 2em;
  padding-left: 3em;
  position: relative;
  color: #fff;
  background: #3cb8ea;
  text-shadow: 0 0 1px #11769f; /* bg darkened 40% */
  border-bottom: 1px #59c2ed solid; /* bg lightened 15% */

}
.voter .mainText {font-size: 0.9em;}
.voter .extraText {
  font-size: 0.65em;
  font-style: italic;
}
.voter .extraText:before {content: '"'; }
.voter .extraText:after {content: '"'; }

.voter .selected {
  color: #fff;
  background: #169dd4; /* bg darkened 20%*/
  text-shadow: 0 0 1px #0e6284; /* bg darkened 50%*/
}

